@font-face {
  font-family: 'Neue Montreal';
  src: url('/styles/neue-montreal-code/neuemontreal-book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/styles/neue-montreal-code/neuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/styles/neue-montreal-code/neuemontreal-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
