:root {
  --light-blue: #C8D6E6;
  --dark-blue: #17283D;
  --light-blue-bg: #C8D6E6;
  --dark-blue-bg: #17283D;
}

.btn-dark {
    background-color: var(--dark-blue);
    border-radius: 20px;
    color: var(--light-blue);
    padding: 15px 40px;
    display: flex;
    gap: 30px;
    width: fit-content;
}

.btn-light {
    background-color: var(--light-blue);
    border-radius: 20px;
    color: var(--dark-blue);
    padding: 15px 40px;
    display: flex;
    gap: 30px;
    width: fit-content;
}


.border-radius-30 {
    border-radius: 30px;
}

body {
    background-color: var(--light-blue);
    max-width: 100vw !important;
    overflow-x: hidden;
}
